@import "tailwindcss";

html {
  scroll-padding-top: 120px;
}

@layer base {
  
  body {
    font-family: var(--font-rubik), sans-serif;
    font-weight: 400; 
  }
}

@layer utilities {
  
  .font-poppins-black {
    font-family: var(--font-poppins), sans-serif;
    font-weight: 900;
  }
  
  .font-open-sans-bold {
    font-family: var(--font-open-sans), sans-serif;
    font-weight: 700;
  }
  .font-rubik {
    font-family: var(--font-rubik), sans-serif;
    font-weight: 400; 
  }
}

.text-outline-red-thin {
  color: transparent;
  -webkit-text-stroke: 1px rgba(161, 0, 0, 0.3); /* manipis na red outline na may 40% opacity */
}

